.blog-posts {
	display: flex;
}

.blog-container {
	display: flex;
	flex-direction: column-reverse;
	@include respond-to('md') {
		flex-direction: row;
	}
}

.blog-content {
	padding: 2rem;
	@include respond-to('md') {
		padding: 5rem;
	}

	.cat-links {
		display: none;
	}
}

.blog-card {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	h1 {
		font-size: 2rem;
		margin-top: 1rem;
	}
	.categories-list li {
		margin: 0;
	}
	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	@include respond-to ('md') {
		flex-basis: 50%;
	}
}


.blog-card-first {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	h1 {
		font-size: 2rem;
		margin-top: 1rem;
	}
	.categories-list, .categories-list li {
		margin: 0;
		@include respond-to ('md') {
			margin: 0 0.5rem;
		}
	}
	img {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
}

.blog-card-meta {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 1rem;
	
	.meta-separator {
		display: none;
		@include respond-to ('md') {
			color: $purple;
			font-size: 1.5rem;
			padding: 0 0.5rem;
		}
	}
	
	@include respond-to ('md') {
		flex-direction: row;
		align-items: center;
	}
}