.blog-container {
	display: flex;
	flex-direction: column-reverse;
	@include respond-to('md') {
		flex-direction: row;
	}
}

.blog-content {
	padding: 2rem;
	@include respond-to('md') {
		padding: 5rem;
	}
	a {
		color: $purple;
	}
	.cat-links {
		display: none;
	}
}

.blog-card {
	width: 500px;
}