@font-face {
    font-family: 'work-sans-regular';
    src: url('../fonts/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'work-sans-semibold';
    src: url('../fonts/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'work-sans-light';
    src: url('../fonts/WorkSans-Light.ttf');
}