.overlay-mtf {
	background-image: url('../assets/images/overlay-mtf.png');
	background-repeat: no-repeat;
	background-position: top left;
	@include respond-to ('md') {
		background-position: bottom left;
	}
}