.navbar {
	padding: 1rem;	
	@include patterned-border;
	
	@include respond-to('md'){
		padding: 1rem 4rem;
	}
}
.navbar-brand {
	img {
		width: 220px;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: $navy;
	text-align: center;
	padding-right: 0.5rem;
	padding-left: 1rem;
	font-weight: bold;
	font-size: 1rem;
	@include respond-to('lg') {
		font-size: 1.2rem;
		padding-right: 1.2rem;
		padding-left: 1.2rem;
	}
	&:hover {
		color: $yellow;
	}
	&:active, &:visited {
		color: $navy;
	}
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: $navy;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("../assets/images/hamburger-menu.svg")
}

.dropdown-item {
	color: $navy;
	font-size: 1rem;
}