.module_founder_block {
	display: flex;
	justify-content: center;
	img {
		border-radius: 50%;
		width: 300px;
		margin: 1rem auto;
		height: 300px;
	    object-fit: cover;
	    object-position: top;		
		@include respond-to('md'){
			padding: 0rem;
		}
	}
	.mfb_title-primary {
		margin-bottom: 2rem;
	}
	
	.name {
		margin: 0.5rem 0;
	}
	
	.row {
		width: 100%;
	}
}

