.module_icon_set {
	color: $navy;
}

.primary-icon-container {
	margin: 1rem 0;
}

.primary-icon-wrapper {
	display: flex;
	justify-content: center;
}

.primary-icon {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.primary-icon-name {
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to('lg') {
		justify-content: left;
	}		
}

.secondary-icon-name {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.secondary-icon {
	width: 100px;
	margin: 0 auto;
	display: flex;
	@include respond-to('lg') {
		width: 100%;
	}
}