.partner-container {
	display: flex;
	border-bottom: 1px solid $navy;
	padding: 3rem 0;
	flex-direction: column;
	align-items: center;
	&:last-child {
		border-bottom: none;
	}
	@include respond-to('md') {
		flex-direction: row;
		align-items: flex-start;
	}
}

.partner-img {
	flex-basis: 100%;
	margin: 2rem;
	
	$img-size: 200px;
	min-height: $img-size;
	max-height: $img-size;
	min-width: $img-size;
	max-width: $img-size;
	img {
		border-radius: 50%;
		border: 3px solid white;
		width: 200px;
		height: 200px;
		object-fit: cover; 
	}
	@include respond-to('md') {
		flex-basis: 30%;
		margin: 0 2rem;
	}
}

.partner-copy {
	font-size: 0.5rem;
	flex-basis: 100%;
	padding: 0 2rem;
	p {
		font-size: 1rem;
	}
	h1 {
		font-size: 1.5rem;
		text-align: center;
		@include respond-to('md') {
			text-align: left;	
		}
	}
	
	.service-description {
		margin-top: 2rem;
	}
	@include respond-to('md') {
		flex-basis: 70%;
	}
}